.liquid-ether-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    touch-action: none;
    pointer-events: none;
    /* prevent interaction overhead */
}